<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Show Profile</title>
</head>
<body>

	<section>
		<div class="card mr-3 ml-3">
			<div class="card-body" th:if="${contact}">
				<div class="container text-center">
					<img src="" style="height: 200px; width: 200px" class="profile_picture" th:src="@{'/img/' + ${contact.image}}" alt="profile photo" />
				
					<h3 class="mt-3" ><span th:text="${contact.name}"></span> ( <span th:text="${contact.secondName}"></span>)</h3>
					
					<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#ID</th>
								<th scope="col"><span th:text="${'SCM2022' + contact.cId}"></span></th>
							</tr>
							<tr>
								<th scope="col">Email</th>
								<th scope="col"><span th:text="${contact.email}"></span></th>
							</tr>
							<tr>
								<th scope="col">Phone</th>
								<th scope="col"><span th:text="${contact.phone}"></span></th>
							</tr>
							<tr>
								<th scope="col">Work</th>
								<th scope="col"><span th:text="${contact.work}"></span></th>
							</tr>
						</thead>
						<tbody>
	
						</tbody>
					</table>
					</div>
					
					<div class="description">
						<th:block th:utext="${contact.description}"></th:block>
					
					
					</div>
					
					<div class="container mt-3">
						<a  th:onclick="|deleteContact(${contact.cId}) |" class="btn btn-danger btn-sm btn-block">Delete</a>
						
						<form th:method="post"  th:action="@{'/user/update-contact/' + ${contact.cId}}">
								
						<button type="submit" class="btn btn-primary btn-sm mt-2 btn-block">Update</button>
						</form>
					
					</div>
					
					
				</div>
			
			
			
			</div>
		
			<h1 th:unless="${contact}" class="mr-3 ml-3">You don't have permission to see this contact</h1>
		
		
		</div>
		
		
		

	</section>



</body>
</html>