<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}">User Dashboard</title>
</head>
<body>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<h3 class="my-3">Change Password</h3>
							
								<!-- change password form -->
								<form action="">
								
								<!-- For old Password -->
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Enter old Password" />	
								
								</div>
								
								<!-- For New Password -->
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Enter New Password" />	
								
								</div>
								
								<div class="container text-center">
								
									<button type="submit" class="btn btn-success">Change</button>
									<button type="reset" class="btn btn-warning">Reset</button>
								</div>
								</form>
						
						
						</div>
					
					
					
					</div>
				
				
				</div>
			
			
			
			
			</div>
		
		
		
		</div>
		
		
		
		
		

	</section>

</body>
</html>