<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home Page</title>
</head>
<body>
	
	<section class="banner d-flex justify-content-center align-items-center">
	
	<div class="text-center">
		<h1 class="font-weight-bold">Smart Contact Manager</h1>
		<p>Start collecting your contacts in very smarter way. We provide very efficient and 
		smarter way of handling contacts.
		</p>
		
		<button onclick="location.href='/signin'" type="button" class="btn btn-outline-success">Get Start</button>
	</div>
	</section>
	
	
	
</body>
</html>